nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
        a(href="/").navbar-brand
            img(src="/img/dominos-logo.png" alt="").logo
        ul.navbar-nav.mr-auto

            li.nav-item
                a(href="/products", class=('nav-link')) Siparişler

            li.nav-item
                a(href="/add-product", class=('nav-link')) Sipariş Ekle 


