nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    .container
        a(href="/").navbar-brand Shopping
        ul.navbar-nav.mr-auto

            li.nav-item
                a(href="/products", class=('nav-link')) Ürünler

            li.nav-item
                a(href="/add-product", class=('nav-link')) Ürün Ekle 


