extends ../layouts/main-layout.pug

block content

    include ../includes/slider.pug
    
    .row
        .col-md-4
            .card
                img(src=`/img/bolmalzemos.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Bol Malzemos                   
                .card-footer.text-center
                    .p Jambon, Pepperoni, Sucuk, Sosis, Misir, Mozzarella Peyniri, Pizza Sos, Siyah Zeytin, Yesil Biber, Domates, Mantar, Susam, Kekik

        .col-md-4
            .card
                img(src=`/img/italiano.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Italiano                   
                .card-footer.text-center  
                    .p Koz Biber, Mozzarella Peyniri, Pizza Sos, Siyah Zeytin, Mantar, Küp Sucuk, Kekik

        .col-md-4
            .card
                img(src=`/img/karısık.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Karışık                   
                .card-footer.text-center
                    .p Sucuk, Sosis, Misir, Mozzarella Peyniri, Pizza Sos, Yesil Biber, Mantar  


    .row

        .col-md-4
            .card
                img(src=`/img/margarita.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Margarita                   
                .card-footer.text-center
                    .p Mozzarella Peyniri, Pizza Sos


        .col-md-4
            .card
                img(src=`/img/sucuksever.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Sucuksever                   
                .card-footer.text-center
                    .p Sucuk, Mozzarella Peyniri, Pizza Sos

        .col-md-4
            .card
                img(src=`/img/tavuklu.jpg`).card-img-top.card-image
                .card-body
                    h4.card-title
                        .p Tavuklu                   
                .card-footer.text-center
                    .p Koz Biber, Misir, Mozzarella Peyniri, Pizza Sos, Yesil Biber, Yöresel Lezzetler Baharatı

         
